<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    <link href="{{ .CSSPath }}" rel="stylesheet" />
<head>
<body>
    <header>
        <h1>{{.Title}}</h1>
    </header>
    <section>{{.Content}}</section>
    <nav>{{.Nav}}</nav>
    <footer>
    copyright (c) 2017 R. S. Doiel
    See: <a href="license.html">LICENSE</a>
    </footer>
</body>
</html>
