<!DOCTYPE html>
<html>
<head>
    <title>Caltech Library's Digital Library Development Sandbox</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
<header>
<a href="/"><img src="./assets/orangebooks-logo.png" alt="Caltech Library logo"></a>
<h1><a href="http://library.caltech.edu">Caltech Library</a></h1>
</header>
<nav>
{{ .nav }}
</nav>

<section>
{{ .content }}
</section>

<footer>
<span><h1><A href="http://caltech.edu">Caltech</a></h1></span>
<span>&copy; 2015 <a href="http://library.caltech.edu/CLS_Copyright.htm">Caltech library</a></span>
<address>1200 E California Blvd, Mail Code 1-32, Pasadena, CA 91125-3200</address> 
<span>Phone: <a href="tel:+1-626-395-3405">(626)395-3405</a></span>
<span><a href="mailto:library@caltech.edu">Email Us</a></span>
</footer>
</body>
</html>
