<!DOCTYPE html>
<html>
<head>
    <title>Caltech Library's Digital Library Development Sandbox</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
<header>
<a href="http://library.caltech.edu"><img src="/assets/liblogo.gif" alt="Caltech Library logo"></a>
</header>
<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="../">Up</a></li>
<li><a href="the-basics.html">The basics</a></li>
<li><a href="one-element/">One element</a></li>
<li><a href="simple/">Simple</a></li>
<li><a href="simple-with-nav/">Simple w/Nav</a></li>
<li><a href="go-template-recipes.html">Template Recipes</a></li>
</ul>

</nav>

<section>
<h1>mkpage templates and Markdown</h1>

<p><em>mkpage</em> uses Go&rsquo;s text/templates for rendering content. This template system was inspired by
simple templates like <a href="https://mustache.github.io/">Mustache</a> and <a href="http://handlebarsjs.com/">Handlebars</a>.
While Go&rsquo;s templates can be simple the systems lacks documentation.  As a remedy
I&rsquo;ve collected few simple examples here based on my experience developing websites
with <em>mkpage</em> and <em>mkslides</em>.</p>

<h2>Basic element</h2>

<p>Like Mustache and Handlebars Go text/templates use double curly brackets to indicate an
element which is to be replace.  If you wanted to replace &ldquo;Hello World&rdquo; with &ldquo;Hello Georgina&rdquo; then
your Go template would look something like this</p>

<pre><code>    Hello {{ .World }}
</code></pre>

<p>Here&rsquo;s an example of replacing <code>{{ .World }}</code> with &ldquo;Georgina&rdquo;</p>

<pre><code class="language-shell">    echo 'Hello {{ .World }}' &gt; hello-world.tmpl
    mkpage &quot;World=text:Georgina&quot; hello-world.tmpl
</code></pre>

<p>Running these two command should result in output like</p>

<pre><code>    Hello Georgina
</code></pre>

<p>The line with the <code>echo</code> is just creating our template and saving it as the file <em>hello-world.tmpl</em>.
In the template the only special part is <code>{{ .World }}</code>. This indicates the variable &ldquo;World&rdquo; will
be replace by something.  In the line with <code>mkpage</code> we define the value for &ldquo;.World&rdquo;. Note
we don&rsquo;t need to prefix &ldquo;World&rdquo; with a dot like we did in the template. We just type
<code>World=text:Georgina</code> in quotes.  This tells the template to replace <code>{{ .World }}</code> with the text &ldquo;Georgina&rdquo;.
At the end of the line starting with <em>mkpage</em> well tell it to use <em>hello-world.tmpl</em> for
the template.</p>

<p>If we did not include <code>World=...</code> with the <em>mkpage</em> command using the <em>hello-world.tmpl</em> template
<em>mkpage</em> would return output like</p>

<pre><code>    Hello &lt;no value&gt;
</code></pre>

<p>If we included other key/value pairs not mentioned in the template they would be silently ignored.</p>

<p>If we made a typo in <em>hello-world.tmpl</em> then we would see an error message.</p>

<p>Try the following to get a feel for how key/value pairs work with <em>mkpage</em>. The first two will render but display
<code>Hello &lt;no value&gt;</code> where &ldquo;Georgina&rdquo; was in our previous example. The first one because no value is
provided and the second one because the value provided doesn&rsquo;t match what is in the template (i.e.
notice the typo &ldquo;Wrold&rdquo; vs. &ldquo;World&rdquo;).  The next one will display an error because
<em>text:</em> wasn&rsquo;t included on the value side of the key/value pair.  By default <em>mkpage</em> assumes the
value is refering to a file and in this case can&rsquo;t find the file Georgina in your current directory.<br />
The last two will display <code>Hello Georgina</code> should display since the value for &ldquo;World&rdquo; is provided. The
last one just ignores &ldquo;Name=text:Fred&rdquo; because name isn&rsquo;t found in the template.</p>

<pre><code class="language-shell">    mkpage hello-world.tmpl
    mkpage &quot;Wrold=text:Georgina&quot; hello-world.tmpl
    mkpage &quot;World=Georgina&quot; hello-world.tmpl
    mkpage &quot;World=text:Georgina&quot; &quot;Name=text:Fred&quot; hello-world.tmpl
    mkpage &quot;World=text:Georgina&quot; hello-world.tmpl
</code></pre>

<h3>Conditional elements</h3>

<p>One nice feature of Go&rsquo;s text template is that template elements can be condition. This can
be done using the &ldquo;if&rdquo; and &ldquo;with&rdquo; template functions. Here&rsquo;s how to show a title conditionally
using the &ldquo;if&rdquo; function.</p>

<pre><code class="language-go">    {{if .title}}And the title is: {{.title}}{{end}}
</code></pre>

<p>or using &ldquo;with&rdquo;</p>

<pre><code class="language-go">    {{with .title}}{{ . }}{{end}}
</code></pre>

<p>Let&rsquo;s create a template file with both these statements called <em>title-demo.tmpl</em> and run the
<em>mkpage</em> command.</p>

<pre><code class="language-shell">    echo &quot;{{if .title}}If this title: {{.title}}{{end}}&quot; &gt; title-demo.tmpl
    echo &quot;{{with .title}}With this title: {{ . }}{{end}}&quot; &gt;&gt; title-demo.tmpl 
    mkpage &quot;title=text:This is a title demo&quot; title-demo.tmpl
</code></pre>

<p>The output should look like</p>

<pre><code>    If this title: This is a title demo
    With this title: This is a title demo
</code></pre>

<p>In the first line with the <em>if</em> we refer to &ldquo;.title&rdquo; as in our first example with &ldquo;.World&rdquo;.
In the second line we refer to the value as &ldquo;.&rdquo;.  The reason we prefix variable names with
a dot (period) is because we are actually describing a path or context of object relationships.
I like to think of the starting dot as &ldquo;this here&rdquo; or simply &ldquo;this&rdquo;.  So in the &ldquo;with&rdquo; line
We waying &ldquo;with this title do something&rdquo; and between that and the part ending in <code>{{end}}</code>
we can refer to &ldquo;.title&rdquo; simply as &ldquo;this thing&rdquo; where <code>{{ . }}</code> is replace with the value
of &ldquo;.title&rdquo;.</p>

<p>What happens if you run this command?</p>

<pre><code class="language-shell">    mkpage title-demo.tmpl
</code></pre>

<p>There is two empty lines of output. The reason is we don&rsquo;t see something like</p>

<pre><code>    If this title: &lt;no value&gt;
    With this title: &lt;no value&gt;
</code></pre>

<p>Is because <em>if</em> and <em>with</em> are conditionally writing the value of title if it has been set.
This becomes a useful tool when you have content that may or may not exist depending on the
page you&rsquo;re processing.</p>

<h3>Template blocks</h3>

<p>Go text/templates support defining blocks and rendering them in conjuction with a main template. This is
also supported by <em>mkpage</em>. For each template encountered on the command line it is added to an array of templates
parsed by the text/template package.  Collectively they are then executed which causes final results
render to stdout by <em>mkpage</em>.</p>

<pre><code class="language-shell">    mkpage &quot;content=text:Hello World&quot; testdata/page.tmpl testdata/header.tmpl testdata/footer.tmpl
</code></pre>

<p>Here is what <em>page.tmpl</em> would look like</p>

<pre><code class="language-go">    {{template &quot;header&quot; . }}

        {{.content}}

    {{template &quot;footer&quot; . }}
</code></pre>

<p>The header and footer are then defined in their own template files (though they also could be combined into one
or even be defined in the main template file itself).</p>

<p><em>header.tmpl</em></p>

<pre><code class="language-go">    {{define &quot;header&quot;}}This is the document header{{end}}
</code></pre>

<p><em>footer.tmpl</em></p>

<pre><code class="language-go">    {{define &quot;footer&quot;}}This is the footer{{end}}
</code></pre>

<p>In this example the output would look like</p>

<pre><code class="language-text">    This is the document header

        Hello World

    This is the footer
</code></pre>

<h2>Content formats and data sources</h2>

<p><em>mkpage</em> understands three content formats</p>

<ul>
<li>text/plain (e.g. &ldquo;text:&rdquo; when specifying strings and any file expect those having the extension &ldquo;.md&rdquo; or &ldquo;.json&rdquo;)</li>
<li>text/markdown (e.g. &ldquo;markdown:&rdquo; when specifying strings, file extension &ldquo;.md&rdquo;)</li>
<li>application/json (e.g. &ldquo;json:&rdquo; when specifying strings, file extension &ldquo;.json&rdquo;)</li>
</ul>

<p>It also supports three data sources</p>

<ul>
<li>an explicit string (prefixed with a hint, e.g. &ldquo;text:&ldquo;, &ldquo;markdown:&ldquo;, &ldquo;json:&ldquo;)</li>
<li>a filepath and filename (the default data source)</li>
<li>a URL (identified by the URL prefixes http:// and https://)</li>
</ul>

<p>Content type is evaluate and if necessary transformed sending it to the Go text/template.</p>

<p>Create a template called <em>data-source-demo.tmpl</em>. It would look like</p>

<pre><code>    This is a plain text string: &quot;{{ .string }}&quot;

    Below is a an included file:
    {{ .file }}
    
    Finally below is data from a URL:
    {{ .url }}
</code></pre>

<p>Create a text file named <em>hello.md</em>.</p>

<pre><code>    # this is a file

    Hello World!
</code></pre>

<p>Type the following</p>

<pre><code class="language-shell">    mkpage &quot;string=text:Hello World&quot; &quot;file=hello.md&quot; \
      &quot;url=https://raw.githubusercontent.com/caltechlibrary/mkpage/master/nav.md&quot; \
      data-source-demo.tmpl
</code></pre>

<p>What do you see?</p>

<h2>A note about Markdown dialect</h2>

<p><em>mkpage</em> implements <a href="https://guides.github.com/features/mastering-markdown/">Github Flavored Markdown</a>
using the <a href="https://github.com/russross/blackfriday">blackfriday</a> markdown processor.  This is a
superset of <a href="http://daringfireball.net/projects/markdown/">Markdown</a> as created by John Gruber.</p>

<p>The markdown processor is invoked for values with the &ldquo;markdown:&rdquo; hint prefix, files ending
in &ldquo;.md&rdquo; extension or URL content with the content type returned as &ldquo;text/markdown&rdquo; (i.e.
content type of &ldquo;text/plain&rdquo; mean the markdown process is not run and the content is
treated as plain
text).</p>

</section>

<footer>
<span><h1><A href="http://caltech.edu">Caltech</a></h1></span>
<span>&copy; 2017 <a href="https://www.library.caltech.edu/copyright">Caltech library</a></span>
<address>1200 E California Blvd, Mail Code 1-32, Pasadena, CA 91125-3200</address> 
<span>Phone: <a href="tel:+1-626-395-3405">(626)395-3405</a></span>
<span><a href="mailto:library@caltech.edu">Email Us</a></span>
<a class="cl-hide" href="sitemap.xml">Site Map</a>
</footer>
</body>
</html>
