{{ define "page.tmpl" }}
<!DOCTYPE html>
<html>
<head>
    <title>One Element</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <header>
        <h1>One Element<h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="../">Up</a></li>
        </ul>
    </nav>
    {{with .Content}}<section>{{- . -}}</section>{{- end}}
    <footer>This template features a single replacable element</footer>
</body>
</html>
{{ end }}
