<!DOCTYPE html>
<html>
<head>
	{{if .Title -}}<title>{{- .Title -}}</title>{{- end}}
	{{if .CSSPath -}}
<link href="{{ .CSSPath }}" rel="stylesheet" />
   {{else -}}
<style>
    body {
    	width: 100%;
    	height: 100%;
    	margin: 10%;
    	padding: 0;
    	font-size: 24px;
    	font-family: sans-serif;
    }
    
    ul {
    	list-style: circle;
    	text-indent: 0.25em;
    }
    
    nav {
    	position: absolute;
    	top: 0em; 
    	margin:0;
    	padding:0.24em;
    	width: 100%;
    	height: 4em;
    	text-align: left;
    	font-size: 60%;
    }
    
	section, p {
		max-width: 85%;
		padding: 0.24em;
		margin: 0.24em;
	}

	code {
		color: teal;
	}
</style>
{{- end }}
</head>
<body>
	<nav>
{{ if ne .CurNo .FirstNo -}}
<a id="start-slide" href="{{printf "%02d-%s.html" .FirstNo .FName}}">Home</a>
{{- end}}
{{ if gt .CurNo .FirstNo -}} 
<a id="previ-slide" href="{{printf "%02d-%s.html" .PrevNo .FName}}">Prev</a>
{{- end}}
{{ if lt .CurNo .LastNo -}} 
<a id="next-slide" href="{{printf "%02d-%s.html" .NextNo .FName}}">Next</a>
{{- end}}
	</nav>
	<section>{{ .Content }}</section>
<script>
(function (document, window) {
    'use strict';
    var start = document.getElementById('start-slide'),
        prev = document.getElementById('prev-slide'),
        next = document.getElementById('next-slide');
    
    
    document.onkeydown = function(e) {
        switch (e.keyCode) {
            /* case 32: */
            case 37:
            // Previous: left arrow
                prev.click();
                break;
            case 39:
                // Next: right arrow
                next.click();
                break;
            case 72:
            case 83:
                // Home/Start: h, s
                start.click();
                break;
        }
    };
}(document, window));
</script>
</body>
</html>
